doctype 5
html(lang="es")
	meta(charset='utf-8')
	link(rel="stylesheet", type="text/css", href="style.css")
	head
		title Test
	body
		h1 Test
		.box
			.tweetter
				a(href="facebook.com") h1 facebook	
			.facebook
				a(href="tweetter") h1 tweetter
