doctype 5
html(lang="es")
	meta(charset='utf-8')
	link(rel="stylesheet", type="text/css", href="style.css")
	head
		title Test
	body
		h1 Test
		.main
			p
				|Estamos en construccion
				br
				|susbcribete a nuestra cuenta de 
				a(href="tweetter") tweetter
				br
				|o siguenos en 
				a(href="facebook") facebook
				|sigo escribiendo 

		.box
			.facebook
				h1
					a(href="facebook.com") facebook	
			.tweetter
				h1
					a(href="tweetter")  tweetter
			.newsletter
				a(href="#") 