*
	padding 0
h1
	color white
body
	background green
	color #FFF
.box
	background #222
.tweeter:before
	content s
























































	http://www.youtube.com/watch?feature=player_detailpage&list=ULnBGliGUHDcA&v=nBGliGUHDcA#t=50s